body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

header {
    width: 100%;
    background: rgba(0,0,0,0.3);
    text-align: center;
    box-sizing: border-box;
    
}


main {
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
}
    main .reglatxt h3{
        text-align: center;
        color: #00eaff;
    }

    main .reglatxt p{
        width: 65%;      
    min-width: 250px;    
    margin: 0 auto;      
    text-align: center;
    text-align: justify;
        
    }

nav ul {
    list-style: none;
    padding: 10px;
    justify-content: space-between; 
    display: flex;

}

nav ul li {
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #00eaff;
    font-weight: bold;
    text-decoration: none;
}

.container {
    background: rgba(255,255,255,0.1);
    margin-top:70px;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    top: 200px;
    max-width: 430px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    width: 48%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #00b4d8;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0096c7;
}

#mensaje {
    margin-top: 15px;
    font-size: 18px;
    min-height: 40px;
}

footer p {
    margin-top: 60px;
    display: flex;
}